@import '../commons/_variables.scss';
@import '../commons/_classes.scss';


/// "s" size ///
@media only screen and (min-width: 0px) and (max-width: 600px) {
    // When Row have valign-wrapper to center its content, the Grid break up.
    // To solve it. Is neceasary to use display inherit:
    .row.valign-wrapper {
        display: inherit;
    }
}

.section_ourproposal_bg {
    height: 420px;
    @extend .margin_60_0;
    
    // Cover and center background image: //
    background-position: 50% 50%; /*El cuadro ajustado se puede centrar horizontal y verticalmente*/
    background-size: cover; /*El cuadro de la imagen se ajusta a la dimensión más pequeña del div con el objetivo de cubrirla*/
    background-repeat: no-repeat;
    
    // To make the overlay: //
    position: relative;
    z-index: -1;

    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        background: $secondary_color;
        opacity: 0.6;
    }
}

.section_ourproposal_content {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;

    img {
        margin: auto;
        display: block;
        margin-bottom: 15px;
        max-height: 35px;
    }
}

.bg_x {
    height: 50px;
    background-color: white;
    margin: 10px 0;
}

