@import '../commons/_variables.scss';
@import '../commons/_classes.scss';

.footer {
    background-image: url(../../images/img_5.jpg);
    
    // Cover and center background image: //
    background-position: 50% 50%; /*El cuadro ajustado se puede centrar horizontal y verticalmente*/
    background-size: cover; /*El cuadro de la imagen se ajusta a la dimensión más pequeña del div con el objetivo de cubrirla*/
    background-repeat: no-repeat;
    
    // To make the overlay: //
    position: relative;
    z-index: 1;
}

.footer::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: $secondary_color;
    opacity: 0.6;
}

.logo_content {
    margin: 20px 0 30px 0;

    img {
        width: 180px;
        margin: auto;
    }
}

.contact_content {
    div {
        width: 26px;
        height: 26px;
        margin-right: 10px;
        float: left;
    }
    p {
        color: white;
    }
}

.contact_icon {
    width: 100%;
    display: block;
    margin: auto;
}

.contact_icon_vertical {
    width: 50%;
    display: block;
    margin: auto;
}