
* {
    margin: 0;
    padding: 0;
}

.list_separation_10 {
    li {
        margin-bottom: 10px;
    }
}

.list_separation_15 {
    li {
        margin-bottom: 15px;
    }
}

.list_separation_20 {
    li {
        margin-bottom: 20px;
    }
}

/* For center align use valign-wrapper class of materialize */