
$primary_color: #FFCA18;
$primary_color_clear: #FFEEB5;
$primary_color_dark: #C99B02;
$secondary_color: #101439;
$secondary_color_clear: #7278A8;

$font_size_title: 18px;
$font_size_subtitle: 16px;
$font_size_body: 14px;
$font_size_footer: 12px;
