
$primary_color: #FFCA18;
$primary_color_clear: #FFEEB5;
$primary_color_dark: #C99B02;
$secondary_color: #101439;
$secondary_color_clear: #7278A8;
$background_color: #FFFFF6;

$font_size_title: 36px;
$font_size_subtitle: 26px;
$font_size_body: 16px;
$font_size_footer: 11px;
