@import '../commons/_variables.scss';
@import '../commons/_classes.scss';

.slide_title {
    @extend %font_medium_title_white;
    width: 60%;
    position:absolute;
    font-family: 'instant_harmony_regular';
    font-size: 55px;
    top:15%;
	left: 7%;
}

.slide_description {
    @extend %font_medium_title_white;
    width: 60%;
    position: absolute;
    font-family: 'instant_harmony_lite';
    font-size: 35px;
    top: 45%;
	right: 10%;
}