@import '../commons/_variables.scss';
@import '../commons/_classes.scss';

#slider_content {
    height: 600px;
    width: 100%;
	position: relative;
	overflow: hidden;
}

.bubble_content {
    height:50px;
    width: 120px;
    margin:0 auto;
    position:relative;
    top:550px;
    bottom: 0;
    z-index: 40;

    div {
        display:block;
        height:20px;
        width:40px;
        float:left;
    }
}

%bubble {
    position:absolute;
	display:block;
	height:12px;
	width:12px;
	border-radius:50%;
	float:left;
	margin:0px 14px;
}
.bubble_under {
	@extend %bubble;
    border: 1px solid $primary_color_clear;
    
    &:hover {
        cursor:pointer;
	    background: $primary_color_clear;
    }
}
.bubble_over {
	@extend %bubble;
	background: $primary_color;
	opacity:0;
    visibility:hidden;
}