@import '../commons/_variables.scss';
@import '../commons/_classes.scss';


.slide_content {
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    
    // Cover and center background image: //
    background-position: 50% 50%; /*El cuadro ajustado se puede centrar horizontal y verticalmente*/
    background-size: cover; /*El cuadro de la imagen se ajusta a la dimensión más pequeña del div con el objetivo de cubrirla*/
    background-repeat: no-repeat;

    // To make the overlay: //
    position: absolute;
    z-index: 0;

    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background: $secondary_color;
        opacity: 0.6;
    }
}

.slide_title {
    @extend %font_medium_title_white;
    width: 78%;
    position:absolute;
    font-family: 'instant_harmony_regular';
    font-size:25px;
    top:15%;
	left: 7%;
}
/// "s" size ///
@media only screen and (min-width: 0px) and (max-width: 600px) {
    .slide_title {
        width: 78%;
        font-size:25px;
    }
}
/// "m" size ///
@media only screen and (min-width: 600px) and (max-width: 992px) {
    .slide_title {
        width: 70%;
        font-size:30px;
    }
}
/// "l" size ///
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .slide_title {
        width: 65%;
        font-size:35px;
    }
}
/// "xl" size ///
@media only screen and (min-width: 1200px) {
    .slide_title {
        width: 60%;
        font-size: 55px;
    }
}

.slide_description {
    @extend %font_medium_title_white;
    width: 60%;
    position: absolute;
    font-family: 'instant_harmony_lite';
    font-size: 35px;
    top: 45%;
	right: 10%;
}
/// "s" size ///
@media only screen and (min-width: 0px) and (max-width: 600px) {
    .slide_description {
        width: 78%;
        right: 5%;
        font-size:26px;
    }
}
/// "m" size ///
@media only screen and (min-width: 600px) and (max-width: 992px) {
    .slide_description {
        width: 70%;
        right: 6%;
        font-size:28px;
    }
}
/// "l" size ///
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .slide_description {
        width: 65%;
        right: 8%;
        font-size:32px;
    }
}
/// "xl" size ///
@media only screen and (min-width: 1200px) {
    .slide_description {
        width: 60%;
        right: 10%;
        font-size: 35px;
    }
}